body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

button {
    height: 60px;
    border: 1px solid #c4c4c4;
    outline: none;
    background-color: #f0f0f0;
    font-size: 1.5em;
    cursor: pointer;
}

button:active {
    background-color: #ddd;
}

.operator {
    background-color: #f09235;
    color: white;
}

.equal-sign {
    background-color: #00aaff;
    color: white;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background-color: #c4c4c4;
}